<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Browser Test</title>
</head>
<body>
  <div id="app">
    <div>Numeric</div>
    <text-input type="numeric" :restrict="lt100"></text-input>
    <div>Phone</div>
    <text-input v-model="phone" type="phone"
    :restore="true"></text-input>
    <div>Phone + Not Live</div>
    <text-input v-model="phone" type="phone"
    :restore="true" :live="false"></text-input>
    <div>Custom Type (Test)</div>
    <text-input :type="type"></text-input>
    <div><button v-confirm>Confirm</button></div>
    <pre>{{ $input }}</pre>
  </div>

  <script src="https://unpkg.com/lodash"></script>
  <script src="https://unpkg.com/vue/dist/vue.min"></script>
  <script src="../dist/vue-text-input.js"></script>
  <script>
  let app = new Vue({
    el: "#app",
    data: {
      type: "test",
      phone: "5313330432",
      lt100: value => Number(value) > 100
    }
  });

  app.$input.types.set("test", {
    restrict: value => value.length > 5
  });
  </script>
</body>
</html>
